h1 {
  margin-left: 5px;
}

th { 
  padding-left: 30px;
}

#b-left {
  font-size: 25px;
  padding-right: 0px;
}

#b-right {
  font-size: 25px;
  padding-left: 20px;
}

#like-button,#delete-button,#back-button {
  padding-top: 7px;
}

#formback-button {
  margin-top: 12px;
}

#formlabel {
  font-size: medium;
}

.form-inline {
  margin-left: 5px;
}

input {
  margin-left: 5px;
}

#username,#password {
  width: 120px;
}

#boxed {
  width: 500px;
  border: 1.5px solid #d1d1d1;
  padding-bottom: 10px;
}

ul {
  padding-left: 0px;
}

#big-list {
  width: 500px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1.5px solid #d1d1d1;
}

#small-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
