h1 {
  margin-left: 5px;
}

strong {
  float: left;
  font-size: 25px;
  text-align: left;
}

#listbtnlike {
  font-size: 18px;
}

#formlabel {
  font-size: medium;
}

.form-inline {
  margin-left: 5px;
}

input {
  margin-left: 5px;
}

#username,#password {
  width: 120px;
}

#formbox {
  width: 500px;
  border:1.5px solid #d1d1d1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
